*{
    margin: 0%;
    padding: 0%;
}

/*animation code*/
@keyframes example{
    from{background-color: rgb(2, 116, 21);}
    to{background-color: rgb(0, 51, 180);}
    0%, 100% { transform: translate(0);}
    50% { transform: translateX(-50px);}
}

/*element to apply to animation*/
.box{
    width: 100px;
    height: 100px;
    background-color: red;
    animation-name: example;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    align-items: center;
    margin: auto;
    padding: auto;
}