body {
    display: flex;
    justify-content: center;
    height: 100vh;
    align-items: center;
    background-color: #212121;
    overflow: hidden;
}

button {
    padding: 10px 20px ;
    text-transform: uppercase;
    border-radius: 8px;
    font-size: 17px;
    font-weight: 500;
    color: #FFFFFF80;
    text-shadow: none;
    background: transparent;
    cursor: pointer;
    box-shadow: transparent;
    border: 1px solid #FFFFFF80;
    transform: 3.5s ease;
    user-select: none;
}

#btn:hover {
    color: #ffffff;
    background: #008cff;
    border: 1px solid #008cff;
    text-shadow: 0 0 5px #ffffff, 0 0 10px #ffffff, 0 0 20px #ffffff;
    box-shadow: 0 0 5px #008cff, 0 0 20px #008cff, 0 0 50px #008cff,
       0 0 100px #008cff;
    border-radius: 8px;
    
}

