body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
}

.gradient-text {
    font-size: 6rem;
    font-weight: bold;
    text-transform: uppercase;
    background: linear-gradient( to left, blue, purple, green
        45deg,
        var(--primary),
        var(--secondary),
        var(--accent),
        var(--primary)
    );
    background-size: 300% 300%;
    -webkit-background-clip: text;
    background-clip: text;
    color: white;
    animation: gradientAnimation 5s ease infinite;
}